[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nicholas Sizer
	email = senseibaka@senseibaka.com
[core]
	editor = code --wait -n
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	conflicting = diff --name-only --diff-filter=U
	pr = "!f() { exec az repos pr \"$@\" --open; }; f"
	repo = "!f() { exec az repos \"$@\"; }; f"
[push]
	default = current
[pager]
	branch = false
[pull]
	ff = only
